server:
  port: 10087
# 配置服务的名称
spring:
  application:
    name: eureka-server
# 添加配置，让自己注册到自己的服务上，让项目启动不报错
eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:10086/eureka,http://127.0.0.1:10087/eureka
  #server:
  #  eviction-interval-timer-in-ms: 300000